@charset "utf-8";

/* 넥슨 */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic Light';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-style: normal;
}

// reset
/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}


//variable
$font-Six : 'Six Caps';
$font-NEXON1 : 'NEXON Lv1 Gothic OTF';



$gradient1 :  linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
$gradient2 :  linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
$gradient3 :  linear-gradient(to bottom, #fad0c4 0%, #ffd1ff 100%);
$gradient4 :  linear-gradient(to bottom, #5ee7df 0%, #b490ca 100%);
$gradient5 :  linear-gradient(to bottom, #9795f0 0%, #fbc8d4 100%);
$gradient6 :  linear-gradient(to bottom, #92fe9d 0%, #00c9ff 100%);


//mixin
@mixin positionCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}


@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin content {
    content : '';
    left: 0;
    top: 0;
    position: absolute;
}


//agent
.iphone main {
    padding: 10px;
}
.android main {
    padding: 10px;
}






//bg
.bg {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &::before {
        @include content;
        width: 100%;
        height: 100vh;
        background: rgba(46, 45, 45, 0.7);
        z-index: -1;
    }
    &.blue {
        &::before {
            background-color: rgba(19, 88, 199, 0.335);
        }
    }
    &.brown {
        &::before{
            background-color: rgba(50, 37, 11, 0.9);
        }
    }
}

@for $i from 10 through 40 {
    .bg#{$i} {
        background-image: url(../img/bg#{$i}@2.jpg);
    }
}



//main
#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #11e8bb;
  background: $gradient1;

  &.game {
    background: #a8edea;  
    background: $gradient2;
  }
  &.menu {
    background: $gradient3;
  }
  &.mouse {
    background: $gradient4;
  }
  &.parallax {
    background: $gradient5;
  }
  &.slider {
    background: $gradient6;
  }
}

#contents {
    h1 {
        @include positionCenter;
        font-size: 10vw;
        white-space: nowrap;
        font-family: $font-Six , sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1vw;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to bottom , #8200c9 , #11e8bb);
        -webkit-background-clip: text;
    }
}


#nav {
    @include positionCenter;
    bottom: 10px;
    top: auto;

    li {
        list-style: none;
        display: inline;

        a{
            color : #fff;
            text-decoration: none;
            width: 100px;
            height: 40px;
            line-height: 40px;
            border : 1px solid #fff;
            display : inline-block;
            border-radius: 50px;
            font-size: 14px;
            text-align: center;
            margin: 4px;
            font-family: $font-NEXON1;
            box-shadow: inset 0 0 0 #fff;
            transition : all 0.4s;

            &:hover {
                box-shadow: inset 0 -100px 0 #fff;
                color : #6c4a70;
            }
        }
    }
}

//info
.info {
    color : #fff;
    font-family: $font-NEXON1;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;

    &.right {
        left : auto;
        right: 0;
    }
    &.bottom {
        top : auto;
        left : auto;
        bottom: 0;
        right: 0;

        button {
            background: transparent;
            border : 1px solid #fff;
            padding: 5px 10px;
            color: #fff;
            border-radius: 50px;
            box-shadow : 0 0 0 #fff inset;
            transition : all 0.4s;
            cursor: pointer;
        
            &:hover {
                box-shadow : 0 -50px 0 #fff inset;
                color : #000;
            }
        }
    }

    &.left {
        top: auto;
        left: 0; bottom: 0;
    }

    h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 1.6;
        border-bottom: 1px dashed #fff;
        display: inline-block;
        margin-bottom: 10px;

        a {
            color : #fff;
            text-decoration: none;
        }
    }
    p {
        font-weight: 400;
        font-size: 25px;
    }
  

    li {
        list-style: none;
        display: inline;

        a {
            display: inline-block;
            text-decoration: none;
            color : #fff;
            border : 1px dashed #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            margin-bottom: 5px;
        }

        &.active {
            a {
                background: #fff;
                color: #000;
            }
        }
    }
    &.list {
        background: rgba(0,0,0,0.4);
        color : #fff;
        font-size: 12px;
        padding: 20px;
        border-radius: 10px;
        line-height: 1.8;
        margin: 20px;
       li {
           display: block;
       }
    }
}



#cont-wrap {
    position :fixed;
    left: 0; top: 0;
    width: 100%; height: 100vh;
    z-index : 1000;
    transform : scale(0);

    .cont-bg {
        background: rgba(59, 59, 59, 0.657);
        height: 100vh;
        display : flex;
        align-items: center;
        justify-content: center;
    }

    .cont-box {
        h2 {
            background: #fff;
            border-radius :5px;
            padding: 3vw;
            max-width : 60vw;
        }
        p {
            font-weight: 300;
            line-height: 1.6;
        }
        button {
            float : right;
            border : 1px solid #000;
            background: #000;
            border-radius : 20px;
            color : #fff;
            padding: 5px 10px;
            cursor : pointer;
            margin-top: 10px;
          }
    }
}

#cont-wrap.show {
    animation : unfoldIn 1s ease forwards;
}
@keyframes unfoldIn {
    0% { transform : scaley(0.005) scalex(0);}
    50% { transform : scaley(0.005) scalex(1);}
    100% { transform : scaley(1) scalex(1);}
  }

#cont-wrap.show.hide {
    animation : unfoldOut 1s ease forwards;
}
@keyframes unfoldOut {
    0% { transform : scaley(1) scalex(1);}
    50% { transform : scaley(0.005) scalex(1);}
    100% { transform : scaley(0.005) scalex(0);}
}

#cont-wrap.show .cont-bg .cont-box {
    transform : scale(0);
    animation :zoomIn 0.5s 0.8s ease forwards;
}
#cont-wrap.show.hide .cont-bg .cont-box {
    transform : scale(0);
    animation :zoomOut 0.5s ease forwards;
}

@keyframes zoomIn {
    0% {transform : scale(0)}
    100% {transform : scale(1)}
}
  
@keyframes zoomOut {
    0% {transform : scale(1)}
    100% {transform : scale(0)}
}
  

// code-view

.code-view {
    background: #fff;
    width: 60vw;
    border : 1px solid #f2f2f2;
    border-radius: 10px;
    overflow: hidden;

    .view-header {
        border-bottom: 1px solid #f2f2f2;
        .dot {
            padding: 12px 10px 10px 15px;

            span {
                width: 12px;
                height: 12px;
                display: inline-block;
                margin: 0 2px;
                border-radius: 50%;
            }

            span:nth-child(1){
                background-color: #f56565;
            }
            span:nth-child(2){
                background-color: #f6e052;
            }
            span:nth-child(3){
                background-color: #48bb78;
            }
        }
    }
    .view-title {
        font-family: 'NEXON Lv1 Gothic OTF';
        border-bottom: 1px solid #f2f2f2;
        padding: 0 10px;
        li {
            display: inline;
            list-style: none;
            a {
                text-decoration: none;
                color : #cccccc;
                padding: 10px 10px 12px;
                margin: 0 5px;
                display: inline-block;
            }

            &.active a{
                border-top: 2px solid #667EEA;
                color : #4a5568;
            }
        }
    }
    .view-cont {
        height: 500px;
        overflow-y: scroll ;  
        
        > div {
            display: none;
        }
        > div:nth-child(1) {
            display: block;
        }
    }
}
@media (max-width: 900px) {
    #contents h1 {                              //메인 화면
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 20vw;
    }
    #nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }                                      
    #nav li a {
      font-size: 12px;
      width: 60px;
      height: 32px;
      line-height: 35px;         //메인
    }
    .info h1 {                  //인포
      font-size: 14px;
    }
    .info p {
      font-size: 12px;
    }
    .info li a {
      font-size: 10px;
      width: 18px;
      height: 18px;
    }
    .info.bottom {
      bottom: 10px;
    }
    .code-view {                //소스보기
      width: 90vw;
      overflow: hidden;
    }
    .code-view .view-cont {
      font-size: 12px;
    }
    .code-view .view-title {
      font-size: 14px;
    }
    #cont-wrap .cont-bg .cont-box button {
      padding: 5px 20px;
    }
    .paraNav ul li a {              //패랠랙스
        font-size: 12px;
    }
  }




// parallax
.parallax {
    background: #222;
    color: #fff;
    font-family: 'NEXON Lv1 Gothic OTF';
}

.paraScroll {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    color : #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    padding: 0 20px;
}

.paraInfo2 {
    position: fixed;
    left: 20px;
    bottom: 70px;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    color : #fff;
    font-size: 12px;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.8;

    li {
        list-style: none;
    }
}


.paraNav {
    position: fixed;
    right: 20px; top: 20px;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    padding: 15px 20px;
    border-radius: 50px;

    li {
        display: inline-block;
        list-style: none;

        a{
            color : #fff;
            text-decoration: none;
            display: inline-block;
            padding: 5px;
            width: 30px; height: 30px;
            text-align: center;
            line-height: 30px;
        }

        &.active a {
            background: #fff;
            color : #000;
            border-radius: 50%;
        }
    }
}

.paraInfo {
    padding: 20px;
    h1 {
        display: inline-block;
        font-size: 30px;
        border-bottom: 1px solid #fff;
        margin-bottom: 8px;
        font-weight: 700;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    p {
        font-size: 14px;
        line-height: 1.8;
    }
}
.paraCont {
    width: 100%;
    overflow: hidden;

    .content-item {
        width: 1000px;
        max-width: 70vw;
        // background: rgba(255,255,255,0.3);
        margin: 30vw 0;
        padding-top: 10vw;
        text-align: right;
        position: relative;
        .num {
            font-family: 'Lato';
            font-weight: 100;
            font-size: 25vw;
            opacity: 0.07;
            position: absolute;
            right: -5vw; top: -9vw;
        }
        .title {
            padding-bottom: 10px;
            font-weight: 700;
        }
        .img-Wrap {
            width: 100%;
            padding-bottom: 56%;
            background: #000;
            position: relative;
            overflow: hidden;
            .img {
                position: absolute;
                left: -10%; top: -10%;
                width: 120%;
                height: 120%;
                background-size: cover;
                background-repeat: no-repeat;
                filter : saturate(0%);
                transition : filter 1s;

                &:hover {
                    filter :saturate(100%);
                }
            }
        }
        .desc {
            font-size: 3vw;
            line-height: 1.4;
            margin-top: -6vw;
            margin-right: -3vw;
            position: relative;
            z-index: 100;
            word-break: keep-all;
        }
        &:nth-child(even){
            margin-left: auto;
            text-align: left;
            .num {
                right: auto;
                left: -5vw;
            }
            .desc {
                margin-right: auto;
                margin-left: -3vw;
            }
        }
    }
}
@for $i from 1 through 9 {
    .content-item {
        &:nth-child(#{$i}){
            .img {
                background-image: url(../img/bg#{$i}.jpg);
            }
        }
    }
}

.source {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.source button {
    background: transparent;
    border: 1px solid #fff;
    padding: 15px 20px;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 0 #fff inset;
    transition: all 0.4s;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    font-size: 15px;

    &:hover {
        box-shadow : 0 -50px 0 #fff inset;
        color : #000;
    }
}

.paraFooter {
    padding: 200px 0;
    h1 {
        font-size: 8vw;
        line-height: 1.2;
        padding: 10vw ;
        text-transform: uppercase;
        margin-bottom: 3vw;
    }
    em {
        display: block;
        font-family: 'Lato';
        font-weight: 100;
        padding-left: 18vw;
    }
    .footerInfo {
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;
        padding: 15px 20px;
        margin-bottom: 2px;

        h2 {
            padding-right: 20px;
        }

        li {
            display: inline;
            list-style-type: none;

            a {
                color: #fff;
                border: 1px dashed #fff;
                width: 30px; height: 30px;
                display: inline-block;
                border-radius: 50%;
                line-height: 30px;
                text-decoration: none;
            }
            &.active a {
                background: #fff;
                color : #000;
            }
        }
    }
}

