@charset "UTF-8";
/* 넥슨 */
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv2 Gothic Light";
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv2 Gothic";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv2 Gothic Bold";
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-style: normal;
}
/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

.bg {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(180, 176, 176, 0.7);
  z-index: -1;
}

.bg10 {
  background-image: url(../img/bg10@2.jpg);
}

.bg11 {
  background-image: url(../img/bg11@2.jpg);
}

.bg12 {
  background-image: url(../img/bg12@2.jpg);
}

.bg13 {
  background-image: url(../img/bg13@2.jpg);
}

.bg14 {
  background-image: url(../img/bg14@2.jpg);
}

.bg15 {
  background-image: url(../img/bg15@2.jpg);
}

.bg16 {
  background-image: url(../img/bg16@2.jpg);
}

.bg17 {
  background-image: url(../img/bg17@2.jpg);
}

.bg18 {
  background-image: url(../img/bg18@2.jpg);
}

.bg19 {
  background-image: url(../img/bg19@2.jpg);
}

.bg20 {
  background-image: url(../img/bg20@2.jpg);
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #11e8bb;
  background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
}
#main.game {
  background: #a8edea;
  background: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
}
#main.menu {
  background: linear-gradient(to bottom, #fad0c4 0%, #ffd1ff 100%);
}
#main.mouse {
  background: linear-gradient(to bottom, #5ee7df 0%, #b490ca 100%);
}
#main.parallax {
  background: linear-gradient(to bottom, #9795f0 0%, #fbc8d4 100%);
}
#main.slider {
  background: linear-gradient(to bottom, #92fe9d 0%, #00c9ff 100%);
}

#contents h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  white-space: nowrap;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to bottom, #8200c9, #8200c9);
}

#nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  bottom: 10px;
  top: auto;
}
#nav li {
  list-style: none;
  display: inline;
}
#nav li a {
  color: #fff;
  text-decoration: none;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  margin: 4px;
  font-family: "NEXON Lv1 Gothic OTF";
  box-shadow: inset 0 0 0 #fff;
  transition: all 0.4s;
}
#nav li a:hover {
  box-shadow: inset 0 -100px 0 #fff;
  color: #6c4a70;
}

.info {
  color: #fff;
  font-family: "NEXON Lv1 Gothic OTF";
  padding: 20px;
}
.info.right {
  position: absolute;
  right: 0;
  top: 0;
}
.info.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.info.bottom button {
  background: transparent;
  border: 1px solid #fff;
  padding: 5px 10px;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 0 #fff inset;
  transition: all 0.4s;
}
.info.bottom button:hover {
  box-shadow: 0 -50px 0 #fff inset;
  color: #000;
}
.info h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  border-bottom: 1px dashed #fff;
  display: inline-block;
  margin-bottom: 10px;
}
.info p {
  font-weight: 400;
  font-size: 16px;
}
.info li {
  list-style: none;
  display: inline;
}
.info li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px dashed #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  margin-bottom: 5px;
}
.info li.active a {
  background: #fff;
  color: #000;
}

#cont-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transform: scale(0);
}
#cont-wrap .cont-bg {
  background: rgba(119, 92, 79, 0.657);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cont-wrap .cont-box {
  background: #fff;
  border-radius: 5px;
  padding: 3vw;
  max-width: 60vw;
}
#cont-wrap .cont-box h2 {
  background: #fff;
  border-radius: 5px;
  padding: 3vw;
  max-width: 60vw;
}
#cont-wrap .cont-box p {
  font-weight: 300;
  line-height: 1.6;
}
#cont-wrap .cont-box button {
  float: right;
  border: 1px solid #000;
  background: #000;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

#cont-wrap.show {
  -webkit-animation: unfoldIn 1s ease forwards;
          animation: unfoldIn 1s ease forwards;
}

@-webkit-keyframes unfoldIn {
  0% {
    transform: scaley(0.005) scalex(0);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(1) scalex(1);
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaley(0.005) scalex(0);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(1) scalex(1);
  }
}
#cont-wrap.show.hide {
  -webkit-animation: unfoldOut 1s ease forwards;
          animation: unfoldOut 1s ease forwards;
}

@-webkit-keyframes unfoldOut {
  0% {
    transform: scaley(1) scalex(1);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(0.005) scalex(0);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaley(1) scalex(1);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(0.005) scalex(0);
  }
}
#cont-wrap.show .cont-bg .cont-box {
  transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s ease forwards;
          animation: zoomIn 0.5s 0.8s ease forwards;
}

#cont-wrap.show.hide .cont-bg .cont-box {
  transform: scale(0);
  -webkit-animation: zoomOut 0.5s ease forwards;
          animation: zoomOut 0.5s ease forwards;
}

@-webkit-keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


@media (max-width : 800px){
    #nav li{
     float: left;
    }
    #nav li a{
      position: static;
      line-height: 25px;
      width:40px;
      height: 25px;
      font-size: 5px;
      text-align: center;
      margin-bottom: 60px;
    }
}