@charset "UTF-8";
/* 넥슨 */
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv2 Gothic Light";
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv2 Gothic";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv2 Gothic Bold";
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-style: normal;
}
/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

.iphone main {
  padding: 10px;
}

.android main {
  padding: 10px;
}

.bg {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(46, 45, 45, 0.7);
  z-index: -1;
}
.bg.blue::before {
  background-color: rgba(19, 88, 199, 0.335);
}

.bg10 {
  background-image: url(../img/bg10@2.jpg);
}

.bg11 {
  background-image: url(../img/bg11@2.jpg);
}

.bg12 {
  background-image: url(../img/bg12@2.jpg);
}

.bg13 {
  background-image: url(../img/bg13@2.jpg);
}

.bg14 {
  background-image: url(../img/bg14@2.jpg);
}

.bg15 {
  background-image: url(../img/bg15@2.jpg);
}

.bg16 {
  background-image: url(../img/bg16@2.jpg);
}

.bg17 {
  background-image: url(../img/bg17@2.jpg);
}

.bg18 {
  background-image: url(../img/bg18@2.jpg);
}

.bg19 {
  background-image: url(../img/bg19@2.jpg);
}

.bg20 {
  background-image: url(../img/bg20@2.jpg);
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #11e8bb;
  background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
}
#main.game {
  background: #a8edea;
  background: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
}
#main.menu {
  background: linear-gradient(to bottom, #fad0c4 0%, #ffd1ff 100%);
}
#main.mouse {
  background: linear-gradient(to bottom, #5ee7df 0%, #b490ca 100%);
}
#main.parallax {
  background: linear-gradient(to bottom, #9795f0 0%, #fbc8d4 100%);
}
#main.slider {
  background: linear-gradient(to bottom, #92fe9d 0%, #00c9ff 100%);
}

#contents h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  white-space: nowrap;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, #8200c9, #11e8bb);
}

#nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  bottom: 10px;
  top: auto;
}
#nav li {
  list-style: none;
  display: inline;
}
#nav li a {
  color: #fff;
  text-decoration: none;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  margin: 4px;
  font-family: "NEXON Lv1 Gothic OTF";
  box-shadow: inset 0 0 0 #fff;
  transition: all 0.4s;
}
#nav li a:hover {
  box-shadow: inset 0 -100px 0 #fff;
  color: #6c4a70;
}

.info {
  color: #fff;
  font-family: "NEXON Lv1 Gothic OTF";
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
.info.right {
  left: auto;
  right: 0;
}
.info.bottom {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
.info.bottom button {
  background: transparent;
  border: 1px solid #fff;
  padding: 5px 10px;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 0 #fff inset;
  transition: all 0.4s;
  cursor: pointer;
}
.info.bottom button:hover {
  box-shadow: 0 -50px 0 #fff inset;
  color: #000;
}
.info.left {
  top: auto;
  left: 0;
  bottom: 0;
}
.info h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.6;
  border-bottom: 1px dashed #fff;
  display: inline-block;
  margin-bottom: 10px;
}
.info h1 a {
  color: #fff;
  text-decoration: none;
}
.info p {
  font-weight: 400;
  font-size: 25px;
}
.info li {
  list-style: none;
  display: inline;
}
.info li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px dashed #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  margin-bottom: 5px;
}
.info li.active a {
  background: #fff;
  color: #000;
}
.info.list {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 12px;
  padding: 20px;
  border-radius: 10px;
  line-height: 1.8;
  margin: 20px;
}
.info.list li {
  display: block;
}

#cont-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transform: scale(0);
}
#cont-wrap .cont-bg {
  background: rgba(59, 59, 59, 0.657);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cont-wrap .cont-box h2 {
  background: #fff;
  border-radius: 5px;
  padding: 3vw;
  max-width: 60vw;
}
#cont-wrap .cont-box p {
  font-weight: 300;
  line-height: 1.6;
}
#cont-wrap .cont-box button {
  float: right;
  border: 1px solid #000;
  background: #000;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

#cont-wrap.show {
  -webkit-animation: unfoldIn 1s ease forwards;
          animation: unfoldIn 1s ease forwards;
}

@-webkit-keyframes unfoldIn {
  0% {
    transform: scaley(0.005) scalex(0);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(1) scalex(1);
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaley(0.005) scalex(0);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(1) scalex(1);
  }
}
#cont-wrap.show.hide {
  -webkit-animation: unfoldOut 1s ease forwards;
          animation: unfoldOut 1s ease forwards;
}

@-webkit-keyframes unfoldOut {
  0% {
    transform: scaley(1) scalex(1);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(0.005) scalex(0);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaley(1) scalex(1);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(0.005) scalex(0);
  }
}
#cont-wrap.show .cont-bg .cont-box {
  transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s ease forwards;
          animation: zoomIn 0.5s 0.8s ease forwards;
}

#cont-wrap.show.hide .cont-bg .cont-box {
  transform: scale(0);
  -webkit-animation: zoomOut 0.5s ease forwards;
          animation: zoomOut 0.5s ease forwards;
}

@-webkit-keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.code-view {
  background: #fff;
  width: 60vw;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}
.code-view .view-header {
  border-bottom: 1px solid #f2f2f2;
}
.code-view .view-header .dot {
  padding: 12px 10px 10px 15px;
}
.code-view .view-header .dot span {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 2px;
  border-radius: 50%;
}
.code-view .view-header .dot span:nth-child(1) {
  background-color: #f56565;
}
.code-view .view-header .dot span:nth-child(2) {
  background-color: #f6e052;
}
.code-view .view-header .dot span:nth-child(3) {
  background-color: #48bb78;
}
.code-view .view-title {
  font-family: "NEXON Lv1 Gothic OTF";
  border-bottom: 1px solid #f2f2f2;
  padding: 0 10px;
}
.code-view .view-title li {
  display: inline;
  list-style: none;
}
.code-view .view-title li a {
  text-decoration: none;
  color: #cccccc;
  padding: 10px 10px 12px;
  margin: 0 5px;
  display: inline-block;
}
.code-view .view-title li.active a {
  border-top: 2px solid #667EEA;
  color: #4a5568;
}
.code-view .view-cont {
  height: 500px;
  overflow-y: scroll;
}
.code-view .view-cont > div {
  display: none;
}
.code-view .view-cont > div:nth-child(1) {
  display: block;
}

@media (max-width: 900px) {
  #contents h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vw;
  }

  #nav ul {
    display: flex;
  }

  #nav li a {
    font-size: 12px;
    width: 60px;
    height: 32px;
    line-height: 35px;
  }

  .info h1 {
    font-size: 14px;
  }

  .info p {
    font-size: 12px;
  }

  .info li a {
    font-size: 10px;
    width: 18px;
    height: 18px;
  }

  .info.bottom {
    bottom: 10px;
  }

  .code-view {
    width: 90vw;
    overflow: hidden;
  }

  .code-view .view-cont {
    font-size: 12px;
  }

  .code-view .view-title {
    font-size: 14px;
  }

  #cont-wrap .cont-bg .cont-box button {
    padding: 5px 20px;
  }

  .paraNav ul li a {
    font-size: 12px;
  }
}
.parallax {
  background: #222;
  color: #fff;
  font-family: "NEXON Lv1 Gothic OTF";
}

.paraScroll {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
  padding: 0 20px;
}

.paraInfo2 {
  position: fixed;
  left: 20px;
  bottom: 70px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 12px;
  padding: 20px;
  border-radius: 10px;
  line-height: 1.8;
}
.paraInfo2 li {
  list-style: none;
}

.paraNav {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  border-radius: 50px;
}
.paraNav li {
  display: inline-block;
  list-style: none;
}
.paraNav li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.paraNav li.active a {
  background: #fff;
  color: #000;
  border-radius: 50%;
}

.paraInfo {
  padding: 20px;
}
.paraInfo h1 {
  display: inline-block;
  font-size: 30px;
  border-bottom: 1px solid #fff;
  margin-bottom: 8px;
  font-weight: 700;
}
.paraInfo h1 a {
  color: #fff;
  text-decoration: none;
}
.paraInfo p {
  font-size: 14px;
  line-height: 1.8;
}

.paraCont {
  width: 100%;
  overflow: hidden;
}
.paraCont .content-item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw 0;
  padding-top: 10vw;
  text-align: right;
  position: relative;
}
.paraCont .content-item .num {
  font-family: "Lato";
  font-weight: 100;
  font-size: 25vw;
  opacity: 0.07;
  position: absolute;
  right: -5vw;
  top: -9vw;
}
.paraCont .content-item .title {
  padding-bottom: 10px;
  font-weight: 700;
}
.paraCont .content-item .img-Wrap {
  width: 100%;
  padding-bottom: 56%;
  background: #000;
  position: relative;
}
.paraCont .content-item .img-Wrap .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: saturate(0%);
  transition: all 1s;
}
.paraCont .content-item .img-Wrap .img:hover {
  filter: saturate(100%);
}
.paraCont .content-item .desc {
  font-size: 3vw;
  line-height: 1.4;
  margin-top: -6vw;
  margin-right: -3vw;
  position: relative;
  z-index: 100;
  word-break: keep-all;
}
.paraCont .content-item:nth-child(even) {
  margin-left: auto;
  text-align: left;
}
.paraCont .content-item:nth-child(even) .num {
  right: auto;
  left: -5vw;
}
.paraCont .content-item:nth-child(even) .desc {
  margin-right: auto;
  margin-left: -3vw;
}

.content-item:nth-child(1) .img {
  background-image: url(../img/bg1.jpg);
}

.content-item:nth-child(2) .img {
  background-image: url(../img/bg2.jpg);
}

.content-item:nth-child(3) .img {
  background-image: url(../img/bg3.jpg);
}

.content-item:nth-child(4) .img {
  background-image: url(../img/bg4.jpg);
}

.content-item:nth-child(5) .img {
  background-image: url(../img/bg5.jpg);
}

.content-item:nth-child(6) .img {
  background-image: url(../img/bg6.jpg);
}

.content-item:nth-child(7) .img {
  background-image: url(../img/bg7.jpg);
}

.content-item:nth-child(8) .img {
  background-image: url(../img/bg8.jpg);
}

.content-item:nth-child(9) .img {
  background-image: url(../img/bg9.jpg);
}

.source {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.source button {
  background: transparent;
  border: 1px solid #fff;
  padding: 15px 20px;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 0 #fff inset;
  transition: all 0.4s;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
}
.source button:hover {
  box-shadow: 0 -50px 0 #fff inset;
  color: #000;
}

.paraFooter {
  padding: 200px 0;
}
.paraFooter h1 {
  font-size: 8vw;
  line-height: 1.2;
  padding: 10vw;
  text-transform: uppercase;
  margin-bottom: 3vw;
}
.paraFooter em {
  display: block;
  font-family: "Lato";
  font-weight: 100;
  padding-left: 18vw;
}
.paraFooter .footerInfo {
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  padding: 15px 20px;
  margin-bottom: 2px;
}
.paraFooter .footerInfo h2 {
  padding-right: 20px;
}
.paraFooter .footerInfo li {
  display: inline;
  list-style-type: none;
}
.paraFooter .footerInfo li a {
  color: #fff;
  border: 1px dashed #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  line-height: 30px;
  text-decoration: none;
}
.paraFooter .footerInfo li.active a {
  background: #fff;
  color: #000;
}